body{
    background-color: rgb(184, 211, 223);
}
.imagen{
    width: 200px;
    height: 150px;
}

.portada {
    border: 1px solid rgb(67, 164, 67);
    border-color: #333333; 
    padding: 20px; 
    text-align: center;
}